<h1>Edit Pick-Up Request</h1>

<%= render 'form' %>

<br>
<%#= link_to 'View Pick-Up Request', pickup_request_path %><br>
  <div type="button" class="btn">
    <%= link_to 'View All Pick-Up Requests', pickup_requests_path %>
  </div>