<h2>Inbox</h2>
<ul>
  <% @conversations.each do |conversation| %>
    <li>
      <%= link_to conversation.sender.profile.full_name, conversation_messages_path(conversation) %>
      
      <%#= link_to 'Delete Conversation', conversations_path(conversation), method: :destroy %>

    </li>
  <% end %>
</ul>
