/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


:root {
    box-sizing: border-box;
    --main-color-one: #4F4F4F;
    --main-color-two: #EAEAEA;
    --main-font: 'Open Sans', sans-serif;
}
html, body {
    background-color: var(--main-color-two);
    margin: 0;
    color: var(--main-color-one);
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: normal;
}

.nav {
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: row;
    height: 140px;
    color: black;
    justify-content: space-between;
    align-items: center;

    .navitem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2vw;
        a {
            &:link {
            color: var(--main-color-one);
            }
            &:visited {
                color: purple;
            }
            &:hover {
                color: #2D9CDB;
            }
        }
        .nav-link {
            margin: 0 4px;
        }
       
    }
}

.container {
    overflow: hidden;
    width: 100vw;   
    height: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // align-items: center;
}
